<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}}</title>

    <!-- Bootstrap css -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Flat UI css -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <!-- Custom css -->
    {{{block "stylesheets"}}}

    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {{{body}}}

    <!-- jQuery -->
    <script src="/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>

    <!-- Bootstrap js -->
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- LeanCloud -->
    <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.1.js" type="text/javascript"></script>
    <script src="/bower_components/leancloud-push.js/src/AV.push.js" type="text/javascript"></script>
    <script src="/javascripts/leancloud-global.js" type="text/javascript"></script>
    <script src="/javascripts/notification.js" type="text/javascript"></script>

    <!-- Custom js -->
    {{{block "scripts"}}}
  </body>
</html>